@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.col-sm-6,
.col-lg-4,
.col-xxl-3,
.col-12 {
  margin-bottom: 50px;
  .card {
    border: none;
    border: 10px;
    cursor: pointer;
    box-shadow: 0 0.2rem 1rem #0000001a !important;

    .itemsProfil {
      display: flex;
      align-items: center;
      img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .profil {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        top: 0px;
        margin-left: 10px;
        margin-top: 10px;
        cursor: pointer;
      }
      .harga {
        position: absolute;
        padding: 5px 12px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        top: 0px;
        right: 0px;
        margin-right: 10px;
        margin-top: 15px;
        cursor: pointer;
        border-radius: 20px;
        h5 {
          margin-bottom: 0;
          font-size: 16.5px;
          font-weight: 700;
        }
      }
    }

    .card-body {
      padding: 0px 15px;
      padding-bottom: 15px;
      .name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;

        h5 {
          color: #000;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          margin-bottom: 0;
          line-height: normal;
        }
      }
      .info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .infoItems {
          margin-top: 5px;
          display: flex;
          flex-direction: column;

          .items {
            display: flex;
            align-items: center;
            margin-top: 10px;
            gap: 5px;
            .stars {
              display: flex;
              gap: 3px;
              svg {
                color: orange;
                margin-bottom: 0;
                font-size: 16px;
              }
            }
            h6 {
              margin-bottom: 0;
              font-size: 14px;
              color: #adabab;
              font-weight: 500;
            }
          }

          .sales {
            margin-top: 5px;
            span {
              font-size: 14px;
              color: #adabab;
              font-weight: 500;
            }
          }
        }
        .btnDemo {
          button {
            height: 45px;
            padding: 0px 15px;
            border: none;
            background: none;
            border: 1.5px solid #36489e;
            color: #36489e;
            font-weight: 600;
            border-radius: 3px;

            svg {
              font-size: 20px;
            }
          }
          button:hover {
            background-color: #36489e;
            transition: all 0.5s ease-in-out;
            color: #fff;
          }
        }
      }

      .by {
        color: #adabab;
        font-size: 12.8px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        b {
          color: #000;
          font-weight: 400;
        }
      }
    }
  }

  .card:hover {
    transform: translateY(-5px);
    transition: all 0.5s ease-in-out;
  }
}

.navbar-toggler {
  border: none;
  svg {
    font-size: 25px;
  }
}

* {
  font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
  width: 0px;
}

.userCard {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 1.5rem;
  img {
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
  h6 {
    margin-top: 5px;
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  p {
    color: #000;
    text-align: center;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .fol {
    padding: 5px 20px;
    background-color: #36489e;
    border: none;
    color: white;
    border-radius: 3px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;

    svg {
      font-size: 21px;
    }
  }
  .mes {
    padding: 5px 20px;
    border-radius: 3px;
    border: 2px solid #36489e;
    background-color: #fff;
    color: #36489e;
    font-weight: 600;
  }
}

.btnPrimary {
  padding: 10px 10px;
  border: none;
  background-color: #36489e;
  color: #fff;
  border-radius: 30px;
  font-weight: 500;
}

.navbar {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1) !important;
  height: 140px;
  padding: 20px 0px;
  background-color: #fff;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 999;
  top: 0;
  width: 100%;

  .navbar-items {
    width: 100%;
    .container {
      display: flex;
      align-items: center;
      .navbar-brand {
        img {
          width: 100px;
        }
      }
    }

    .menu {
      margin-top: 20px;
      padding-left: 180px;

      .container {
        .navbar-nav {
          display: flex;
          gap: 20px;
          .nav-item {
            .nav-link {
              padding: 7px 20px;
              border-radius: 30px;
              border: 1.5px solid #eef0f5;
              font-weight: 500;
              font-size: 15px;
            }
            .nav-link:hover {
              transition: all 0.5s ease-in-out;
              background-color: #eef0f5;
            }
          }
        }
        .navbar-nav .nav-link.active,
        .navbar-nav .show > .nav-link {
          background-color: #eef0f5;
        }
      }
    }
  }
}

.searchInput {
  background-color: #eef0f5;
  padding: 8px 20px;
  border-radius: 30px;
  margin-left: 30px;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    border: none;
    background-color: inherit;
    outline: none;
    color: #0006;
    width: 80%;
  }

  input::placeholder {
    color: #0008;
  }

  svg {
    font-size: 22px;
    color: #0006;
  }
}

.signupModal {
  margin: 5px;
}

.collapse {
  display: flex;
  justify-content: space-between;

  .menuNav {
    display: flex;
    align-items: center;
    gap: 30px;

    svg {
      font-size: 24.5px;
    }
    .menuItems {
      display: flex;
      align-items: center;
      gap: 10px;
      button {
        border: none;
        border-radius: 10px;
        padding: 7px 15px;
        font-weight: 600;
      }
      .login {
        background-color: inherit;
        color: #36489e;
      }
      .signup {
        background-color: #36489e;
        color: #fff;
      }
    }
  }
}

.Popular {
  margin-top: 170px;
  .container {
    .row {
      .title {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        h2 {
          color: #000;
          font-size: 27px;
          font-style: normal;
          font-weight: 600;
          margin-bottom: 10px;
          letter-spacing: 1.2px;
        }

        a {
          color: #36489e;
          text-align: center;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          cursor: pointer;
        }
      }
    }
  }
}

.card-popular {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0.2rem 1rem #0000001a !important;

  .itemsProfil {
    display: flex;
    align-items: center;
    img {
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .profil {
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      top: 0px;
      margin-left: 10px;
      margin-top: 10px;
      cursor: pointer;
    }
    .harga {
      position: absolute;
      padding: 5px 12px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      object-fit: cover;
      top: 0px;
      right: 0px;
      margin-right: 10px;
      margin-top: 15px;
      cursor: pointer;
      border-radius: 20px;
      h5 {
        margin-bottom: 0;
        font-size: 16.5px;
        font-weight: 700;
      }
    }
  }

  .card-body {
    padding: 0px 15px;
    padding-bottom: 15px;
    .name {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;

      h5 {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 0;
        line-height: normal;
      }
    }
    .info {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .infoItems {
        display: flex;
        flex-direction: column;
        margin-top: 5px;

        .items {
          display: flex;
          align-items: center;
          margin-top: 10px;
          gap: 5px;
          .stars {
            display: flex;
            gap: 3px;
            svg {
              color: orange;
              margin-bottom: 0;
              font-size: 16px;
            }
          }
          h6 {
            margin-bottom: 0;
            font-size: 14px;
            color: #adabab;
            font-weight: 500;
          }
        }

        .sales {
          margin-top: 5px;
          span {
            font-size: 14px;
            color: #adabab;
            font-weight: 500;
          }
        }
      }
      .btnDemo {
        button {
          height: 45px;
          padding: 0px 15px;
          border: none;
          background: none;
          border: 1.5px solid #36489e;
          color: #36489e;
          font-weight: 600;
          font-size: 14px;
          border-radius: 3px;
          svg {
            font-size: 20px;
          }
        }
        button:hover {
          background-color: #36489e;
          transition: all 0.5s ease-in-out;
          color: #fff;
        }
      }
    }

    .by {
      color: #adabab;
      font-size: 12.8px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      b {
        color: #000;
        font-weight: 400;
      }
    }
  }
}

.card-popular:hover {
  transform: translateY(-5px);
  transition: all 0.5s ease-in-out;
}

.paginationProduct {
  display: flex;
  list-style: none;
  gap: 15px;
  padding-left: 0;

  .page-item {
    background-color: #eef2f5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
  }
  .page-item.active {
    background-color: #cbe1f1;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

.mobile {
  width: 100%;
  position: fixed;
  bottom: -1px;
  display: none;
  z-index: 999;
  background-color: #fff;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    list-style: none;
    width: 100%;
    gap: 20px;

    margin: 0rem;
    padding-left: 0px;
    padding: 10px 20px;

    li {
      padding: 10px;
      svg {
        font-size: 23px;
      }
      svg:hover {
        color: #36489e;
        border-radius: 50%;
        transition: all 0.5s ease-in;
      }
    }
  }
}

.offcanvas-body {
  padding: 0px;

  .list-group {
    padding: 0px;
    border-radius: 0px;

    .list-group-item {
      border: none;
      margin-bottom: 3px;

      .link.active {
        color: #36489e;
      }
    }
  }

  .menuNav {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    svg {
      font-size: 24.5px;
    }
    .menuItems {
      display: flex;
      align-items: center;
      gap: 10px;
      button {
        border: none;
        border-radius: 10px;
        padding: 8px 15px;
        font-weight: 600;
      }
      .login {
        background-color: inherit;
        color: #36489e;
      }
      .signup {
        background-color: #36489e;
        color: #fff;
      }
    }
  }
}

// akhir navbar scss

// Fonts
.Fonts {
  margin-top: 40px;
  .container {
    .row {
      .title {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        h2 {
          color: #000;
          font-size: 27px;
          font-style: normal;
          font-weight: 600;
          margin-bottom: 20px;
          letter-spacing: 1.2px;
        }

        a {
          color: #36489e;
          text-align: center;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          cursor: pointer;
        }
      }
    }
  }
}
// akhir Fonts
// Blogs

.blogsSlide {
  margin-top: 50px;
  .container {
    h2 {
      color: #000;
      font-size: 27px;
      font-style: normal;
      font-weight: 600;
      letter-spacing: 1.2px;
    }

    .column {
      .items {
        display: flex;
        padding: 10px 10px;
        box-shadow: 0 0.2rem 1rem #0000001a !important;
        gap: 10px;
        img {
          width: 171.328px;
          height: 123.171px;
        }
        .info {
          h5 {
            color: #000;
            font-size: 13.5px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
          p {
            color: #000;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 10px;
          }
          span {
            color: #36489e;
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }
      }
    }
  }
}

// akhir Blogs
// join
.joinShop {
  margin-top: 80px;
  .container {
    .row {
      align-items: center;
      .col-md-6 {
        h2 {
          color: #000;
          font-size: 36px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        p {
          color: #000;
          font-size: 25.5px;
          letter-spacing: 1.5px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        a {
          color: #36489e;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;

          svg {
            font-size: 25px;
          }
        }
      }
      .col-md-6 {
        img {
          width: 100%;
        }
      }
    }
  }
}
// akhir join
//  Detail Product

.detailPages .container .row .col-lg-7 .card .items:hover .iconsImg {
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.detailPages .container .row .col-lg-7 .card .items:hover .iconsImgBook {
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.detailPages .container .row .col-lg-7 .card .items:hover .iconsShare {
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.detailPages {
  margin-top: 170px;

  .container {
    .row {
      .categoriesProduct {
        display: flex;
        justify-content: space-between;
        align-items: first baseline;

        h3 {
          text-transform: uppercase;
          color: #000;
          letter-spacing: 1.5px;
        }

        .itemsIcons {
          display: none;
          gap: 10px;

          .iconsShare,
          .iconsImgBook,
          .iconsImg {
            background-color: #fff;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid #0006;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            svg {
              font-size: 28px;
            }
          }
        }
      }

      h2 {
        margin-bottom: 50px;
        color: #000;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        span {
          font-weight: 600;
        }
      }
      .col-lg-7 {
        margin-bottom: 30px;
        .card {
          .items {
            display: flex;
            align-items: center;
            img {
              width: 100%;
            }

            .iconsShare {
              background-color: #fff;
              position: absolute;
              opacity: 0;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
              top: 0px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-left: 20px;
              margin-top: 30px;
              cursor: pointer;

              svg {
                font-size: 30px;
              }
            }

            .iconsImg {
              background-color: #fff;
              position: absolute;
              opacity: 0;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
              top: 0px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-left: 20px;
              margin-top: 95px;
              cursor: pointer;

              img {
                width: 30px;
              }
            }
            .iconsImgBook {
              background-color: #fff;
              position: absolute;
              opacity: 0;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
              top: 0px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-left: 20px;
              margin-top: 160px;
              cursor: pointer;

              img {
                width: 30px;
              }
            }
          }
        }
        .swiper {
          width: 100%;
          height: 120px;

          .swiper-slide {
            width: 332px;
            img {
              width: 100%;
              height: 100px;
            }
          }
        }

        p {
          color: #000;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.3px;
          margin-top: 10px;
        }
        span {
          color: #45cfdd;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          cursor: pointer;
          img {
            width: 20px;
          }
        }
        .preview {
          margin-top: 40px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          h5 {
            color: #000;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          span {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: flex;
            align-items: center;
            gap: 5px;

            svg {
              font-size: 20px;
            }
          }
        }
      }
      .col-lg-5 {
        .card {
          .price {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h5 {
              font-size: 20px;
              font-weight: 500;
            }
            h4 {
              font-size: 40px;
              font-weight: 600;
              display: flex;
              align-items: start;

              svg {
                font-size: 30px;
              }
            }
          }

          h1 {
            color: #000;
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          span {
            margin-top: 5px;
            color: #000;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          select {
            padding: 15px 10px;
            border-radius: 3px;
            outline: none;
            background-color: #fff;
            margin-top: 15px;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0.175);
          }
          .add {
            padding: 10px;
            border-radius: 3px;
            border: 2px solid #36489e;
            background-color: #fff;
            color: #36489e;
            font-weight: 600;
            font-size: 20px;
            margin-top: 20px;
          }
          .buy {
            padding: 10px;
            border-radius: 3px;
            border: none;
            background-color: #36489e;
            color: #fff;
            font-weight: 600;
            font-size: 20px;
            margin-top: 20px;

            svg {
              font-size: 23px;
            }
          }
          .reviewDetail {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 25px;

            span {
              color: #000;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }

            .items {
              display: flex;
              gap: 10px;
              align-items: center;
              justify-content: center;

              .stars {
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                  font-size: 18px;
                  color: orange;
                  gap: 2px;
                }
              }
              .title {
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                  color: #000;
                  font-size: 17px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                }
              }
            }
          }
          .categories {
            display: flex;
            justify-content: space-between;

            align-items: baseline;

            h5 {
              color: #000;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
            h6 {
              color: #000;
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
        h5 {
          margin-top: 30px;
          color: #000;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
      h3 {
        margin-bottom: 20px;
        color: #000;
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        span {
          font-weight: 600;
        }
      }

      .col-md-12 {
        margin-bottom: 20px;
        margin-top: 20px;
        .info {
          display: flex;
          align-items: center;
          gap: 15px;
          img {
            width: 50px;
            border-radius: 50%;
          }
          .name {
            span {
              color: #000;
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
            .star {
              display: flex;
              gap: 3px;

              svg {
                font-size: 16px;
                color: orange;
              }
            }
          }
        }
        p {
          margin-top: 10px;
          color: #000;
          font-size: 16.5px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          width: 63%;
        }
      }
      h3 {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }

  .modal-dialog {
    .modal-content {
      border: none;

      .modal-body {
        padding: 20px 40px;
        ul {
          list-style: none;
          padding: 0px;
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          // gap: 20px;

          li {
            border-top: 1px solid #19c4d438;
            padding: 20px 0px;
            display: flex;
            align-items: center;
            gap: 10px;

            img {
              width: 22px;
              cursor: pointer;
            }
            span {
              color: #36489e;
              letter-spacing: 1.5px;
              font-size: 16px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
//  Akhir Detail Product
//  Product
.product {
  margin-top: 170px;

  .container {
    .row {
      .title {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 25px;
        h4 {
          color: #000;
          font-size: 26px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          span {
            font-weight: 700;
          }
        }

        button {
          border: 1px solid #36489e;
          background-color: #fff;
          color: #36489e;
          padding: 5px 15px;
        }
      }
    }
  }

  .modal {
    .modal-dialog {
      .modal-content {
        .modal-body {
          .filters {
            padding: 0px 16.5px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;
            margin-bottom: 30px;

            label {
              color: #000;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }

            select {
              outline: none;
              border-radius: 30px;
              padding: 10px;
              cursor: pointer;
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}

.offcanvasProduct.show:not(.hiding),
.offcanvas.showing {
  display: block;
}

.offcanvas.show:not(.hiding),
.offcanvas.showing {
  display: none;
}
// akhir Product

// Blogs
.blogs {
  margin-top: 170px;
  h1 {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-bottom: 50px;
  }

  hr {
    border: 1px solid #0007;
  }

  .container {
    .row {
      .col-lg-3 {
        margin-bottom: 20px;
        .items {
          position: sticky;
          top: 135px;
          .list-group {
            h5 {
              color: #000;
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: 0.2px;
            }
            .list-group-item {
              border: none;
              font-weight: 500;
            }
            .list-group-item:hover {
              color: #36489e;
              cursor: pointer;
              transition: 0.3s all ease-in-out;
            }
          }
        }
      }
      .col-lg-9 {
        h2 {
          color: #000;
          font-size: 36px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 10px;
        }
        .date {
          color: #899298;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        img {
          width: 100%;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        p {
          color: #000;
          font-size: 17px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.17px;
        }
      }
    }
  }
}

.tokoPages {
  margin-top: 140px;
  .backgroundImg {
    img {
      width: 100%;
    }
  }

  .container {
    .row {
      .userCard {
        max-width: 550px;
        margin-top: 40px;
      }

      hr {
        margin-top: 10px;
        margin-bottom: 40px;
      }

      .navbar-nav {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 20px;

        .nav-item {
          .nav-link {
            font-weight: 600;
          }
          .nav-link:hover {
            transition: 0.3s ease-in-out;
            color: #36489e;
          }
          .nav-link.active {
            color: #36489e;
          }
        }
      }

      .col-lg-7 {
        margin-bottom: 20px;
        h4 {
          font-size: 20px;
          font-weight: 600;
        }
        .profile {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: contain;
          }
          h5 {
            margin-bottom: 0;
            font-size: 17px;
            font-weight: 600;
          }
        }
        .desc {
          margin-top: 10px;
          font-size: 15px;
          letter-spacing: 1.3px;
        }
      }
      .col-lg-4 {
        .cardAbout {
          border: 1px solid #0002;
          padding: 30px;
          max-width: 300px;
          .follower {
            display: flex;
            justify-content: space-between;
            .followerItem {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              span {
                letter-spacing: 1.2px;
              }
            }
          }
          .info {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 20px;
            .infoItems {
              display: flex;
              align-items: center;
              gap: 10px;
              img {
                width: 18px;
              }
              h5 {
                margin-bottom: 0;
                font-size: 15px;
                letter-spacing: 1.2px;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
    .filterToko {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      .searchToko {
        input {
          padding: 8px 20px;
          border: 1.5px solid #e2e9ee;
          outline: none;
        }
        input:placeholder {
          color: #e2e9ee;
        }
        button {
          padding: 8px 10px;
          background-color: #36489e;
          color: #fff;
          font-weight: 600;
          border: 1.5px solid #36489e;
        }
      }
      .selectToko {
        select {
          cursor: pointer;
          padding: 8px 15px;
          border: 1.5px solid #e2e9ee;
          outline: none;
          background-color: #fff;
          color: gray;
        }
      }
    }
  }
}
// akhir Blogs
// footer
.footer {
  background-color: #eef0f5;
  padding: 0px;
  margin-top: 120px;

  hr {
    border: 1px solid #0003;
  }

  .copyright {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
      text-align: center;
      color: #000;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .container {
    padding: 50px 0px;
    .row {
      .col-lg-4 {
        margin-bottom: 30px;
        .logo {
          width: 100px;
          margin-bottom: 15px;
        }
        p {
          color: #000;

          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .sosialIcons {
          display: flex;
          align-items: center;
          gap: 15px;
        }
      }
      .col-lg-2 {
        margin-bottom: 25px;
        h2 {
          margin-bottom: 10px;
          color: #000;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .menu {
          display: flex;
          gap: 10px;
          flex-direction: column;
          a {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          a:hover {
            color: #36489e;
            cursor: pointer;
            transition: all 0.4s ease-in-out;
          }
          .link.active {
            color: #36489e;
          }
        }
      }
    }
  }
}
// akhir footer

@media only screen and (max-width: 1400px) {
  .searchInput input {
    width: 700px;
  }
  .nav .containerMenuCat {
    right: 43%;
  }
  .collapse .searchInput {
    width: 70%;
  }
  .navbar .navbar-items .menu {
    padding-left: 130px;
  }
}

@media only screen and (max-width: 1200px) {
  .heroSection .container .row .col-md-7 .menuCategories {
    flex-wrap: wrap;
    justify-content: center;
  }
  .heroSection .container .row .col-lg-5 img {
    width: 95%;
    height: 100%;
  }
  .heroSection .container .row .col-md-7 h1 {
    font-size: 53px;
  }
  .collapse .searchInput {
    width: 530px;

    input {
      width: 400px;
    }
  }
  .nav .containerMenuCat {
    right: 33%;
  }
  .navbar .navbar-items .menu {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .blogs {
    margin-top: 90px;
  }

  .nav {
    display: none;
  }

  .joinShop .container .row .col-md-6 p {
    font-size: 20px;
  }
  .joinShop .container .row .col-md-6 a {
    font-size: 21px;
  }
  .nav .containerMenuCat {
    display: none;
  }

  .detailPages .container .row .col-md-12 p {
    width: 95%;
  }
  .detailPages {
    margin-top: 90px;
  }
  .navbar {
    top: -4px;
  }
  .Popular {
    margin-top: 90px;
  }

  .navbar .navbar-items .container .navbar-brand img {
    width: 90px;
  }

  .navbar {
    display: flex;
    align-items: center;
    padding: 0;
    height: 70px;
    .navbar-items {
      .container {
        justify-content: space-between;
      }
      .menu {
        display: none;
      }
    }
  }
  .offcanvas.show:not(.hiding),
  .offcanvas.showing {
    display: block;
  }
  .offcanvas.offcanvas-start {
    width: 100%;
  }
  .tokoPages {
    margin-top: 75px;
  }
  .product {
    margin-top: 90px;
  }
  .searchMenu {
    display: flex;
    align-items: baseline;
    gap: 5px;
  }
  .searchInput {
    width: 450px;
    input {
      width: 200px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .joinShop .container .row .col-md-6 {
    margin-top: 20px;
  }
  .detailPages .container .row .col-lg-7 .card .items .iconsShare {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 15px;
  }
  .detailPages .container .row .col-lg-7 .card .items .iconsImgBook {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-top: 115px;
  }
  .detailPages .container .row .col-lg-7 .card .items .iconsImg {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-top: 65px;
  }
  .search {
    display: none;
  }

  .menubars {
    display: block;
  }
  .searchInput {
    width: 300px;
    input {
      width: 200px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .footer .container {
    padding: 50px 20px;
  }

  .signin .container .row .col-lg-5 .formSignin .titlePertanyaan h5 {
    font-size: 17px;
  }

  .mobile {
    display: block;
  }
  .footer {
    margin-bottom: 70px;
  }
  .blogs .container .row .col-lg-9 h2 {
    font-size: 30px;
  }
  .detailPages .container .row .col-md-12 p {
    width: 100%;
  }
  .detailPages .container .row .col-lg-7 .swiper {
    width: 100%;
    height: fit-content;
    margin-top: 10px;
  }

  .detailPages .container .row .categoriesProduct .itemsIcons {
    display: flex;

    .iconsShare,
    .iconsImgBook,
    .iconsImg {
      width: 30px;
      height: 30px;

      svg {
        font-size: 20px;
      }
      img {
        width: 17px;
      }
    }
  }
  .detailPages .container .row .col-lg-7 .card .items {
    .iconsImg,
    .iconsShare,
    .iconsImgBook {
      display: none;
    }
  }
  .detailPages .container .row .categoriesProduct h3 {
    font-size: 18px;
  }

  .Popular .container .row .col-sm-6 .card .card-body .name h5,
  .Popular .container .row .col-lg-3 .col-12 .card .card-body .name h5 {
    font-size: 25px;
  }
  .tokoPages .container .filterToko {
    flex-direction: column;
    gap: 15px;
  }
  .tokoPages .container .row .userCard {
    max-width: 350px;
  }
  .offcanvas-body .menuNav {
    display: none;
  }
  .searchInput {
    width: 85%;
    input {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 427px) {
  .joinShop .container .row .col-md-6 p {
    font-size: 18px;
  }
  .joinShop .container .row .col-md-6 h2 {
    font-size: 26px;
  }

  .searchInput {
    width: 310px;

    input {
      width: 230px;
    }
  }
  .Popular .container .row .col-sm-6 .card .card-body .name h5,
  .Popular .container .row .col-lg-3 .col-12 .card .card-body .name h5 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .tokoPages .container .row .userCard {
    max-width: 330px;
  }
  form .titlePertanyaan h5 {
    font-size: 16px;
  }
  .footer {
    margin-bottom: 60;
  }
}
